body {
  margin: 0;
  padding: 0;
  background-image: url('../img2.png');
  background-size: 115%;
  background-repeat: repeat;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
  overflow: auto;
}
#slogan{
  font-style: italic;
  font-family: 'Lobster', cursive;
  padding-left: 30%;
  font-size: 80px;
  text-shadow: 2px 2px 4px #000;
  animation: color 5s infinite;
}
@keyframes color {
0%{color: orange}
10%{color: purple}
20%{color: red}
30%{color: cadetblue} 
40%{color: yellow}
50%{color: coral}
60%{color: green}
70%{color: cyan}
80%{color: deeppink}
90%{color: dodgerblue}
100%{color: orange}
}

a {
  color: white;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin:auto;
  width: 1100px;
  height:680px;
  margin-top: 280px;
}
#text {
  width: 525px;
  height:500px;
  left: 0px;
  top: -30px;
  position: absolute;
}
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 70px;
  line-height: 50px;
  font-size: larger;
  font-weight: bolder;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
}
.space {
  margin-right: 150px;
}

#message-box{
  position: absolute;
  margin-top:450px;
  font-size: 25px;
  font-family: monospace;

}
